DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
RESEND_API=
APP_URL="http://localhost:3000"
APP_URL_PROD=
PORT=3000

# Other
API_URL="${APP_URL}/api"